/* .main-header .logo { */
/*   font-family: "Georgia", Times, "Times New Roman", serif; */
/*   font-weight: bold; */
/*   font-size: 8px; */
/* } */


:root {
    --uni-gray: #4d4d4d;
    --uni-red:  #ff1411;
    --uni-blue: #00aadc;
    --lt-gr-bg: #f2f2f2;
}

/* #inline label{ display: table-cell; text-align: center; vertical-align: middle; } */
/* #inline .form-group { display: table-row;} */


/* /\* From SO 8565819 *\/ */
/* #wrapper { */
/*   min-height: 100%; */
/*   height: auto !important; */
/*   height: 100%; */
/*   margin-bottom: -100px; /\* <- If you change this height... *\/ */
/* } */
/* #footer, #push { */
/*   height: 100px;         /\* <- ...then you should also change this height! *\/ */
/* } */


.plot-layout {
    display: grid;
    grid-template-columns: 3fr 1fr;
    column-gap: 1em;
}

.measure-prop-sec {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1em;
}

.spec-tab {
    overflow-y: auto;
    height: 50%;
    grid-column: 3;
    grid-row: 1;
}

.sel-spec {
    grid-column: 1;
    grid-row: 1;
}


.measure-props {

    grid-column: 2;

    grid-row: 1;
}

/* test comment */
